alabaster==0.7.3
aniso8601==1.1.0
appnope==0.1.0
astroid==1.3.6
Babel==1.3
beautifulsoup4==4.4.1
cffi==1.1.2
coverage==4.0a5
cryptography==0.9.3
decorator==4.0.4
dj-database-url==0.3.0
Django==1.7
django-bootstrap-form==3.2
django-bootstrap-forms==0.1
django-bower==5.0.2
django-cors-headers==1.0.0
django-nose==1.3
django-phonenumber-field==0.7.2
django-selectable==0.9.0
django-tables2==0.16.0
django-twilio==0.8.0
djangorestframework==3.1.1
djappsettings==0.4.0
docopt==0.6.1
docutils==0.12
enum34==1.0.4
Flask==0.10.1
Flask-RESTful==0.3.4
Flask-Restless==0.14.2
Flask-SQLAlchemy==2.0
Flask-SSLify==0.1.4
funcsigs==0.4
geopy==1.11.0
gevent==1.0.2
github3.py==1.0.0a2
gnureadline==6.3.3
googlemaps==2.2
greenlet==0.4.9
grip==3.0.0
gunicorn==18.0
html2text==2014.12.29
httplib2==0.9
httpretty==0.8.8
icalendar==3.9.1
idna==2.0
ipaddress==1.0.14
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.7.3
joe==0.0.5
logilab-common==0.63.2
Markdown==2.4.1
MarkupSafe==0.23
mimerender==0.5.4
mock==1.0.1
mogo==0.3.0
ndg-httpsclient==0.4.0
nose==1.3.7
numpy==1.9.2
oauth2==1.5.211
oauthlib==0.7.2
path-and-address==1.0.0
path.py==8.1.2
pathlib==1.0.1
pbr==0.11.0
pexpect==4.0.1
phonenumbers==7.0.9
pickleshare==0.5
psutil==2.2.1
ptyprocess==0.5
py-stackexchange==2.2.1
pyasn1==0.1.8
PyAudio==0.2.8
pycparser==2.14
pycrypto==2.6.1
Pygments==2.0.2
pykov==1.1
pylint==1.4.3
PyMarkovChain==1.7.5
pymongo==3.0.3
pyOpenSSL==0.15.1
pysnap==0.1.1
python-dateutil==2.2
python-mimeparse==0.1.4
python-openid==2.2.5
PyTumblr==0.0.6
pytz==2015.2
RapidSMS==0.21.1
rauth==0.7.0
regex==2015.10.29
requests==2.3.0
requests-oauthlib==0.4.2
scipy==0.16.1
simplegeneric==0.8.1
simplejson==3.6.5
six==1.9.0
snowballstemmer==1.2.0
SpeechRecognition==3.1.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.9
SpoofMAC==1.2.1
SQLAlchemy==0.9.7
stackit==0.1.2
stevedore==1.4.0
thefuck==1.12
traitlets==4.0.0
twilio==3.8.0
twitter==1.17.1
uber.py==1.0.3
uberpy==1.0
uritemplate.py==0.3.0
vboxapi==1.0
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.5.1
Werkzeug==0.9.6
